/* woff2 : Super Modern Browsers */
/* woff :Modern Browsers */

@font-face {
    font-family: 'Rowdies';
    font-style: normal;
    font-weight: 400;
    src: url("ui/src/assets/fonts/Rowdies-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: 'Rowdies';
    font-style: normal;
    font-weight: 300;
    src: url('ui/src/assets/fonts/Rowdies-Light.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Rowdies';
    font-style: normal;
    font-weight: 700;
    src: url('ui/src/assets/fonts/Rowdies-Bold.ttf');
    font-display: swap;
}